@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Geist:wght@100..900&display=swap");

:root {
    --background: #E5E5E5;
    --panel-background: #FFFFFF;
    --primary: #555555;
    --secondary: #BBBBBB;
    --accent: #515151;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
}

#layout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

#overview-layout {
    display: grid;
    grid-template-areas:
        "metrics title bar"
        "metrics map map";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto 1fr;
    width: 100vw;
    height: 100vh;
    gap: 10px;
    padding: 10px;
}

#detailed-layout {
    display: grid;
    grid-template-areas:
    "metrics plot plot map"
    "metrics plot plot ranking"
    "metrics info-left info-right ranking";
    grid-template-columns: 0.6fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 3fr;
    width: 100vw;
    height: 100vh;
    gap: 10px;
    padding: 10px;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: var(--panel-background);
    /* border: 1px solid var(--accent); */
    border: 1px solid rgba(0, 0, 0, 0.12);
    /* box-shadow: 2px 2px 3px 3px var(--accent); */
    border-radius: 15px;
    padding: 10px;
    gap: 10px;
}

.panel-title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--secondary);
    font-size: 1.75rem;
    align-self: flex-start;
}