body {
    background-color: #f9f9f9;
    color: #333333;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    margin: 0px;
}

/* Custom styling */
#layout-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#title {
    text-align: center;
    margin: 10px 10px 0;
}

.layout {
    display: grid;
    flex: 1;
    gap: 15px;
    padding: 15px;
}

#overview-layout {
    grid-template-areas:
    "metrics map";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
}
#global-metrics-wrapper {
    grid-area: metrics;
}
#global-map-wrapper {
    grid-area: map;
}

#detailed-layout {
    grid-template-areas:
    "metrics map ranking"
    "metrics info ranking";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr;
}
#complex-metrics-wrapper {
    grid-area: metrics;
}
#region-map-wrapper {
    grid-area: map;
}
#detailed-info-wrapper {
    grid-area: info;
}
#ranking-wrapper {
    grid-area: ranking;
}
.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 15px;
    background-color: #c7baba;
    border: 3px solid #4f4b4b;
    border-radius: 15px;
    font-size: 3rem;
    color: #0c0b0b;
}
